<h1>Logan Kleditz Final Project OAuth Page</h1>
<div>This is just the intro page for my CS493 final, if you click the hyperlink it will make you log in with a google account and then display that information.</div>
<div>
    <p></p>
    <a href="/authorize">Authenticate With Google Login</a>
</div>